name: Generate Snake

on:
  # Chạy tự động mỗi 12 giờ đêm
  schedule:
    - cron: "0 0 * * *" 
  # Cho phép chạy thủ công
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        with:
          # Tên user của bạn
          github_user_name: vanhuy2005
          outputs: dist/github-contribution-grid-snake.svg
          
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
